.modall{
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: solid;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__label{
        font-size: 24pt;
    }
    &__field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        width: 30rem;
        border: none;
        gap: 30px;
    }
    &__exit{
        float: inline-end !important;
        margin: 5px;
        height: 25px;
        width: 25px;
        align-self: flex-end;
        border-color: black;
        background-color: crimson;
        color: white;
    }
    &__input{
        height: 50px;
        width: 300px;
    }
    &__submit{
        height: 50px;
        width: 250px;
        align-self: center;
        margin-bottom: 50px;
        background-color: crimson;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 24pt;
        border: none;
    }
}